
.timeline_wrapper-2 {
position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
max-width: 1120px;
margin-right: auto;
margin-left: auto;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}

@media screen and (max-width: 767px){
.timeline_progress-2 {
left: 6px;
}

.timeline_progress-2 {
position: absolute;
z-index: -2;
width: 3px;
height: 91%;
background-image: linear-gradient(95deg, #4b84ef, #fa11ac);

}}
.timeline_progress-bar-2 {
position: -webkit-sticky;
position: sticky;
left: auto;
top: 0px;
right: auto;
bottom: 50vh;
z-index: -1;
width: 3px;
height: 50vh;
background-color: #fff;
background-image: -webkit-gradient(linear, left top, left bottom, from(#4b84ef), to(#fa11ac));
background-image: linear-gradient(180deg, #4b84ef, #fa11ac);
}
.timeline_item-2 {
padding-top: 49px;
-ms-grid-columns: 48px 1fr;
grid-template-columns: 48px 1fr;

}
.timeline_item-2 {
position: relative;
z-index: 2;
display: -ms-grid;
display: grid;
padding: 80px 0px;
-webkit-box-pack: stretch;
-webkit-justify-content: stretch;
-ms-flex-pack: stretch;
justify-content: stretch;
grid-auto-columns: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
-ms-grid-columns: 1fr 180px 1fr;
grid-template-columns: 1fr 180px 1fr;
-ms-grid-rows: auto;
grid-template-rows: auto;
text-align: right;
}
@media screen and (max-width: 767px){
.timeline_left {
text-align: left;
display: none;
}}

.timeline_left {
-webkit-box-pack: end;
-webkit-justify-content: flex-end;
-ms-flex-pack: end;
justify-content: flex-end;
-webkit-box-align: stretch;
/* -webkit-align-items: stretch; */
-ms-flex-align: stretch;
align-items: stretch;
text-align: right;
}
.div-block-149 {
position: -webkit-sticky;
position: sticky;
top: 50vh;
bottom: auto;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
}
@media screen and (max-width: 767px){
.timeline_date-text-2 {
margin-bottom: 24px;
font-size: 36px;
}
}
.timeline_date-text-2 {
position: static;
top: 50vh;
margin-bottom: 12px;
font-family: kallisto, sans-serif;
color: #fff;
font-size: 3em;
line-height: 1.2;
font-weight: 800;
text-align: left;
letter-spacing: -0.03em;
}
.div-block-147 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 35%;
max-width: none;
margin-bottom: 2em;
padding: 0px;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-style: solid;
border-width: 3px;
border-color: #fff;
border-radius: 25px;
background-image: linear-gradient(95deg, #4b84ef, #fa11ac);
}
.text-block-3 {
max-width: none;
padding-right: 0px;
padding-left: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 0.8em;
text-align: left;
}
.timeline_centre {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
margin-right: 0px;
margin-left: 50px;
padding-right: 0px;
padding-left: 0px;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: stretch;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
width:5%;
align-items: stretch;
background-image: linear-gradient(95deg, #4b84ef, #fa11ac);
}
.timeline_circle {
position: -webkit-sticky;
position: sticky;
top: 50vh;
width: 15px;
height: 15px;
max-height: 15px;
max-width: 15px;
min-height: 15px;
min-width: 15px;
border-radius: 100%;
background-color: #fff;
box-shadow: 0 0 0 8px #0a0a0a;
}
.timeline_right {
text-align: left;
}
.timeline_text {
font-family: poppins, sans-serif;
color: #4b84ef;
font-size: 4em;
line-height: 1;
font-weight: 600;
}
.timeline_right {
text-align: left;
}
@media screen and (max-width: 479px){
.div-block-161 {
margin-bottom: 2em;
}}

.div-block-161 {
margin-bottom: 0.4em;
}
@media screen and (max-width: 479px){
.text-block-4 {
margin-bottom: 0px;
font-size: 5em;
font-weight: 600;
}}
.text-block-4 {
margin-bottom: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 2.1em;
line-height: 1;
font-weight: 500;
text-align: left;
text-transform: lowercase;
}
.div-block-148 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
margin-bottom: 0.4em;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
}
.div-block-151 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
}
.text-block-6 {
margin-right: 11px;
margin-bottom: 0.4em;
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.4em;
line-height: 1;
text-align: left;
}
.text-span {
font-family: poppins, sans-serif;
color: #fff;
font-size: 2.2em;
line-height: 1;
font-weight: 500;
}
.text-block-8 {
font-family: poppins, sans-serif;
color: #4b84ef;
font-size: 1.3em;
line-height: 1.2;
font-weight: 500;
text-align: left;

}

.div-block-150 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
padding-top: 5px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}
.text-block-7 {
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.2em;
line-height: 1.2;
font-weight: 600;
text-align: right;
}
.text-block-21 {
font-family: poppins, sans-serif;
color: #fff;
font-size: 2.3em;
line-height: 1.1;
font-weight: 500;
}
@media screen and (max-width: 767px){
.timeline_item-2 {
width: 100%;
-ms-grid-columns: 64px 1fr;
grid-template-columns: 64px 1fr;
}}
.timeline_item-2 {
position: relative;
z-index: 2;
display: -ms-grid;
display: grid;
padding: 80px 0px;
-webkit-box-pack: stretch;
-webkit-justify-content: stretch;
-ms-flex-pack: stretch;
justify-content: stretch;
grid-auto-columns: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
-ms-grid-columns: 1fr 180px 1fr;
grid-template-columns: 1fr 180px 1fr;
-ms-grid-rows: auto;
grid-template-rows: auto;
text-align: right;
}


@media screen and (max-width: 479px){
.div-block-158 {
margin-bottom: 21px;
}}
.div-block-158 {
position: -webkit-sticky;
position: sticky;
top: 50vh;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
}
.timeline_date-text-2 {
position: static;
top: 50vh;
margin-bottom: 12px;
font-family: kallisto, sans-serif;
color: #fff;
font-size: 3em;
line-height: 1.2;
font-weight: 800;
text-align: left;
letter-spacing: -0.03em;
}
.div-block-147 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 35%;
max-width: none;
margin-bottom: 2em;
padding: 0px;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-style: solid;
border-width: 3px;
border-color: #fff;
border-radius: 25px;
background-image: linear-gradient(
95deg
, #4b84ef, #fa11ac);
}
@media screen and (max-width: 479px){
.text-block-3 {
font-size: 2.5em;
}}
.text-block-3 {
max-width: none;
padding-right: 0px;
padding-left: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 0.8em;
text-align: left;
}
@media screen and (max-width: 767px){
.timeline_centre {
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
}
}

@media screen and (max-width: 479px){
.margin-bottom-medium {
margin-bottom: 2em;
}}
.margin-bottom-medium {
margin-bottom: 0px;
}
.timeline_text.w {
color: #fff;
font-size: 3.85em;
}
@media screen and (max-width: 479px){
.div-block-160 {
margin-bottom: 2em;
}}
.div-block-160 {
margin-bottom: 0.5em;
}

@media screen and (max-width: 479px){
.text-block-4 {
margin-bottom: 0px;
font-size: 5em;
font-weight: 600;
}}
.text-block-4 {
margin-bottom: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 2.1em;
line-height: 1;
font-weight: 500;
text-align: left;
text-transform: lowercase;
}

@media screen and (max-width: 479px){
.div-block-152 {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
text-align: left;
}}
.div-block-152 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
margin-bottom: 0.5em;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
}

@media screen and (max-width: 479px){
.div-block-162 {
margin-bottom: 2em;
line-height: 1;
}}

@media screen and (max-width: 479px){
.text-block-9 {
margin-bottom: 0.5em;
-webkit-align-self: flex-start;
-ms-flex-item-align: start;
align-self: flex-start;
font-size: 4em;
line-height: 1;
font-weight: 600;
}}
.text-block-9 {
width: auto;
-webkit-align-self: flex-start;
-ms-flex-item-align: start;
align-self: flex-start;
-webkit-box-flex: 0;
-webkit-flex: 0 auto;
-ms-flex: 0 auto;
flex: 0 auto;
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.6em;
line-height: 30px;
font-weight: 500;
text-align: left;
}
@media screen and (max-width: 479px){
.text-block-22 {
font-size: 4em;
}}
.text-block-22 {
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.15em;
line-height: 1;
font-weight: 500;
}
@media screen and (max-width: 479px){
.text-block-10._2 {
font-size: 4em;
}}
.text-block-10._2 {
font-size: 1.2em;
}

@media screen and (max-width: 479px){
.div-block-160 {
margin-bottom: 2em;
}
}
.div-block-160 {
margin-bottom: 0.5em;
}

@media screen and (max-width: 479px){
.text-block-4._2 {
font-size: 5em;
}}
.text-block-4._2 {
font-size: 2.05em;
}


@media screen and (max-width: 479px){
.div-block-153 {
margin-bottom: 2em;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}}
.div-block-153 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
margin-bottom: 6px;
padding-top: 0px;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
text-align: left;
}

@media screen and (max-width: 479px){
.text-block-11 {
font-size: 5em;
line-height: 1;
}}
.text-block-11 {
padding-right: 0em;
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.15em;
line-height: 1.2;
font-weight: 600;
}
@media screen and (max-width: 479px){
.div-block-157 {
margin-bottom: 21px;
}}
.div-block-157 {
position: -webkit-sticky;
position: sticky;
top: 50vh;
}

@media screen and (max-width: 479px){
.div-block-147 {
max-width: 40%;
margin-bottom: 3.7em;
}}
.div-block-147 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 35%;
max-width: none;
margin-bottom: 2em;
padding: 0px;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-style: solid;
border-width: 3px;
border-color: #fff;
border-radius: 25px;
background-image: linear-gradient(
95deg
, #4b84ef, #fa11ac);
}
@media screen and (max-width: 479px){
.text-block-3 {
font-size: 2.5em;
}}

.text-block-3 {
max-width: none;
padding-right: 0px;
padding-left: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 0.8em;
text-align: left;
}


@media screen and (max-width: 479px){
.timeline_text.w2 {
font-size: 9em;
}}
.timeline_text.w2 {
color: #fff;
font-size: 3.7em;
font-weight: 600;
}


@media screen and (max-width: 479px){
.div-block-160 {
margin-bottom: 2em;
}}
.div-block-160 {
margin-bottom: 0.5em;
}
@media screen and (max-width: 479px){
.text-block-4 {
margin-bottom: 0px;
font-size: 5em;
font-weight: 600;
}}
.text-block-4 {
margin-bottom: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 2.1em;
line-height: 1;
font-weight: 500;
text-align: left;
text-transform: lowercase;
}
@media screen and (max-width: 479px){
.div-block-153 {
margin-bottom: 2em;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}}
.div-block-153 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
margin-bottom: 6px;
padding-top: 0px;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
text-align: left;
}
@media screen and (max-width: 479px){
.text-block-11 {
font-size: 5em;
line-height: 1;
}}
.text-block-11 {
padding-right: 0em;
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.15em;
line-height: 1.2;
font-weight: 600;
}


@media screen and (max-width: 479px){
.text-block-15 {
font-size: 4em;
line-height: 1;
}}
.text-block-15 {
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.3em;
line-height: 1.2;
font-weight: 600;
text-align: left;
}
@media screen and (max-width: 479px){
.timeline_text.w3 {
font-size: 9em;
}}
.timeline_text.w3 {
color: #fff;
font-size: 3.45em;
}
@media screen and (max-width: 479px){
.text-block-4 {
margin-bottom: 0px;
font-size: 5em;
font-weight: 600;
}}
.text-block-4 {
margin-bottom: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 2.1em;
line-height: 1;
font-weight: 500;
text-align: left;
text-transform: lowercase;
}
@media screen and (max-width: 479px){
.div-block-155 {
margin-bottom: 0em;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
}}
.div-block-155 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}
@media screen and (max-width: 479px){
.text-block-16 {
margin-bottom: 0.8em;
font-size: 4em;

line-height: 1;
}
}
.text-block-16 {
margin-bottom: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.15em;
line-height: 1.5;
font-weight: 500;
text-align: left;
}
@media screen and (max-width: 479px){
.text-span-8 {
line-height: 1.2;
}}
.text-span-8 {
font-size: 2.8em;
line-height: 1;
font-weight: 500;
text-transform: uppercase;
}
@media screen and (max-width: 479px){
.div-block-163 {
margin-bottom: 2em;
text-align: left;
}}
@media screen and (max-width: 479px){
.text-block-23 {
font-size: 4em;
text-align: left;
}}
.text-block-23 {
margin-bottom: 0.5em;
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.1em;
line-height: 1;
font-weight: 500;
text-align: right;
}
@media screen and (max-width: 479px){
.text-block-24 {
font-size: 4em;
text-align: left;
}}
.text-block-24 {
font-family: poppins, sans-serif;
color: #fff;
font-size: 1em;
line-height: 1.1;
font-weight: 500;
text-align: right;
}

@media screen and (max-width: 479px){
.div-block-153 {
margin-bottom: 2em;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}}
.div-block-153 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
margin-bottom: 6px;
padding-top: 0px;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
text-align: left;
}

@media screen and (max-width: 479px){
.text-block-11 .nft {
font-size: 5em;
}}
.text-block-11 .nft {
font-size: 2em;
}
@media screen and (max-width: 479px){
.div-block-157 {
margin-bottom: 21px;
}}
.div-block-157 {
position: -webkit-sticky;
position: sticky;
top: 50vh;
}
@media screen and (max-width: 479px){
.div-block-147 {
max-width: 40%;
margin-bottom: 3.7em;
}}
.div-block-147 {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 35%;
max-width: none;
margin-bottom: 2em;
padding: 0px;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-style: solid;
border-width: 3px;
border-color: #fff;
border-radius: 25px;
background-image: linear-gradient(
95deg
, #4b84ef, #fa11ac);
}
@media screen and (max-width: 479px){
.text-block-3 {
font-size: 2.5em;
}}
.text-block-3 {
max-width: none;
padding-right: 0px;
padding-left: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 0.8em;
text-align: left;
}

@media screen and (max-width: 479px){
.timeline_text.w2 {
font-size: 9em;
}}
.timeline_text.w2 {
color: #fff;
font-size: 3.7em;
font-weight: 600;
}
@media screen and (max-width: 479px){
.div-block-160 {
margin-bottom: 2em;
}}
.div-block-160 {
margin-bottom: 0.5em;
}
@media screen and (max-width: 479px){
.text-block-4._4 {
font-size: 4em;
}}
.text-block-4._4 {
font-size: 2.13em;
}
@media screen and (max-width: 479px){
.text-block-15 {
font-size: 4em;
line-height: 1;
}}
.text-block-15 {
font-family: poppins, sans-serif;
color: #fff;
font-size: 1.3em;
line-height: 1.2;
font-weight: 600;
text-align: left;
}
@media screen and (max-width: 479px){
.text-block-4._4 {
font-size: 4em;
}}
.text-block-4._4 {
font-size: 2.13em;
}
@media screen and (max-width: 479px){
.text-block-4 {
margin-bottom: 0px;
font-size: 5em;
font-weight: 600;
}}
.text-block-4 {
margin-bottom: 0px;
font-family: poppins, sans-serif;
color: #fff;
font-size: 2.1em;
line-height: 1;
font-weight: 500;
text-align: left;
text-transform: lowercase;
}
@media screen and (max-width: 479px){
.div-block-160 {
margin-bottom: 2em;
}
}
.div-block-160 {
margin-bottom: 0.5em;
}